// Color palette
// Greenish cyan #50E3C2 80, 227, 194 
$primary: #50E3C2;
// Ice blue #FAFFFE 250, 255, 254 
$secondary: #FAFFFE;
// Twilight blue #063974 6, 57, 116 
$tertiary: #063974;
// Light light blue #D2F9F1 210, 249, 241 
$quaternary: #D2F9F1;
// Spruce #OC5F4C 12, 95, 76
$quinary: rgb(12, 95, 76);
// Black #2C2C2C 44,44, 44 
$black: #2C2C2C;

/*fonts */
$fontPlayfair: "PlayfairDisplaySC", "sans-serif";
$fontLato: "Lato", "sans-serif";
/* root element html font-size to 125%, 1 rem = 20px */
$baseFontSize: 1rem;