@use "./variables" as *;

.navBar {
  width: 100vw;
  .wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2% 4% 12% 5%;
    .mainMenu {
      display: flex;
      justify-content: flex-start;
      li {
        padding: 0 10px;
      }
    }
  }
}

