@use "../utilities/variables" as *;

.blogHeaderImg {
  background-image: url("../assets/blog-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.blog.contentContainer {
  padding-bottom: 50px;
}

.flexContainer .blog {
  display: flex;
}

.blog {
  .imgContainer {
    max-width: 100%;
    img {
      width: 55vw;
      position: absolute;
      margin: -8.25vh 0 0 -10vw;
    }
  }
  .contentContainer {
    width: 50vw;
    margin: 75vh 0 30vh 0vw;
    h5 {
      color: $quinary;
      line-height: 1rem;
    }
    h6 {
      color: $tertiary;
      font-weight: 200;
      font-size: 1rem;
      letter-spacing: 0;
      line-height: .25rem;
    }
  }
}