/*fonts */
/* root element html font-size to 125%, 1 rem = 20px */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "PlayfairDisplaySC";
  src: url("../fonts/playfairDisplaySC/PlayfairDisplaySC-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato/Lato-Light.ttf");
  font-weight: 300;
}
html {
  font-size: 125%;
}

body {
  font-family: "Lato", "sans-serif";
  font-size: 1rem;
  color: #2C2C2C;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "sans-serif";
  font-weight: bold;
  line-height: 2.9rem;
}

h3,
h4,
h6 {
  color: rgb(12, 95, 76);
}

h1 {
  font-family: "PlayfairDisplaySC", "sans-serif";
  font-size: 5.56rem;
  font-weight: 900;
  font-style: italic;
  color: #063974;
}

h2 {
  font-size: 4.35rem;
  letter-spacing: 0.45rem;
  color: #FAFFFE;
}

h3 {
  font-size: 3.1rem;
  letter-spacing: 0.335rem;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: 0.19rem;
}

h5 {
  font-size: 1.75rem;
  letter-spacing: 0.19rem;
  color: #063974;
}

h6 {
  font-size: 1.5rem;
  letter-spacing: 0.16rem;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

p {
  font-family: "Lato", "sans-serif";
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: 0.3s;
}

.logo {
  font-family: "PlayfairDisplaySC", "sans-serif";
  font-weight: 900;
  font-style: italic;
  font-size: 1.73rem;
  text-align: center;
  color: #50E3C2;
}

.wrapper {
  max-width: 1728px;
  width: 80%;
  margin: 0 auto;
}

a {
  font-family: "Lato", "sans-serif";
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  color: #FAFFFE;
  text-transform: uppercase;
}
a:hover {
  color: #50E3C2;
}

.button {
  font-family: "PlayfairDisplaySC", "sans-serif";
  font-weight: 900;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  background-color: #063974;
  color: #FAFFFE;
  border: 2px solid #063974;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover {
  background-color: #50E3C2;
  color: #063974;
}
.button:focus {
  background-color: #50E3C2;
  color: #063974;
}

fieldset {
  padding: 10px;
  width: 50vw;
  box-shadow: 15px 15px #50E3C2;
  background-color: #FAFFFE;
  text-align: center;
}
fieldset .name,
fieldset .email,
fieldset .message {
  border: none;
  border-bottom: 2px #50E3C2 solid;
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  font-family: "Lato", "sans-serif";
  font-weight: 300;
}
fieldset .name,
fieldset .email {
  width: 23.5vw;
  margin: 80px 20px 50px 20px;
  padding: 1em;
}
fieldset .message {
  width: 50vw;
  margin: 20px;
  padding: 30px 0px 200px 30px;
}

button.submit {
  font-family: "PlayfairDisplaySC", "sans-serif";
  font-weight: 900;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  line-height: 0.6rem;
  letter-spacing: 0.05rem;
  background-color: #063974;
  color: #FAFFFE;
  border: 2px solid #063974;
  padding: 15px 25px;
  margin: 30px auto;
  width: 50vw;
  cursor: pointer;
  transition: 0.3s;
}
button.submit:hover {
  background-color: #50E3C2;
  color: #063974;
}
button.submit:focus {
  background-color: #50E3C2;
  color: #063974;
}

.navBar {
  width: 100vw;
}
.navBar .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2% 0% 12% 0%;
}
.navBar .wrapper .mainMenu {
  display: flex;
  justify-content: flex-start;
}
.navBar .wrapper .mainMenu li {
  padding: 0 10px;
}

header {
  background: url("../assets/home-image-1.jpg") top center/100vw no-repeat;
  background-color: #FAFFFE;
}
header .flexContainer {
  display: flex;
}

.headerImgContainer {
  width: 43%;
  position: relative;
}
.headerImgContainer img {
  max-width: 100%;
}

.headerContent {
  position: absolute;
  margin: 4% 0% 0% 34.15%;
  max-width: 60vw;
}
.headerContent h1 {
  margin: -3.5% 0 0 -1.5%;
}

.guyana {
  background-color: #FAFFFE;
  padding-bottom: 5%;
}
.guyana .flexContainer {
  display: flex;
}
.guyana .flexContainer .contentContainer {
  width: 60vw;
}
.guyana .flexContainer .contentContainer p {
  margin-bottom: 5%;
}
.guyana .flexContainer .imgContainer {
  margin: 4% 0 0 8%;
  max-width: 100vw;
}
.guyana .flexContainer img {
  width: 100%;
  box-shadow: -15px 15px #50E3C2;
}

.gallery {
  background-color: #D2F9F1;
}
.gallery .beachstayGallery {
  display: flex;
  justify-content: space-evenly;
  padding: 5% 0;
  max-width: 100vw;
}
.gallery .beachstayGallery img {
  width: 100%;
}

.iconsDetails {
  background-color: #FAFFFE;
  padding-bottom: 8%;
}
.iconsDetails .flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.iconsDetails .flexContainer div {
  width: 50%;
}
.iconsDetails .flexContainer div h6 {
  margin: 45px 0 0 0;
}
.iconsDetails .flexContainer div i {
  text-align: center;
  padding: 2%;
  color: #FAFFFE;
  background-color: #50E3C2;
  border-radius: 50%;
}
.iconsDetails .flexContainer div p {
  padding: 0 6% 0 11%;
}

.blog i {
  margin-right: 1.5%;
}

.plan {
  background-color: #D2F9F1;
}
.plan .flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.plan .flexContainer div {
  width: 50%;
}
.plan .flexContainer h5 {
  margin: 46px 0 0 0;
}
.plan .flexContainer p {
  margin-bottom: 10%;
}
.plan .flexContainer .contentContainer.right {
  padding: 3% 0% 5% 12%;
  text-align: left;
}
.plan .flexContainer .contentContainer.left {
  padding: 3% 12% 5% 0%;
  text-align: right;
}

.plan .imgContainer {
  position: relative;
  max-width: 100vw;
}
.plan .imgContainer .leftImg {
  box-shadow: 15px 15px #50E3C2;
  width: 100%;
  position: absolute;
  margin: -8% 0 0 -25%;
}
.plan .imgContainer .rightImg {
  box-shadow: -15px 15px #50E3C2;
  width: 100%;
  margin: 10% 0 0 25%;
  position: absolute;
}

.contest {
  background-color: #FAFFFE;
}
.contest .flexContainer {
  display: flex;
  flex-direction: column;
}
.contest .flexContainer .imgContainer {
  max-width: 100vw;
}
.contest .flexContainer .imgContainer img {
  width: 132.5%;
  margin: 0 -20%;
}
.contest .flexContainer .contentContainer {
  margin: 0 auto;
  padding: 2% 0 8% 0;
  text-align: center;
  width: 75%;
}
.contest .flexContainer .contentContainer p {
  margin-bottom: 5%;
}

.blogHeaderImg {
  background-image: url("../assets/blog-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.blog.contentContainer {
  padding-bottom: 50px;
}

.flexContainer .blog {
  display: flex;
}

.blog .imgContainer {
  max-width: 100%;
}
.blog .imgContainer img {
  width: 55vw;
  position: absolute;
  margin: -8.25vh 0 0 -10vw;
}
.blog .contentContainer {
  width: 50vw;
  margin: 75vh 0 30vh 0vw;
}
.blog .contentContainer h5 {
  color: rgb(12, 95, 76);
  line-height: 1rem;
}
.blog .contentContainer h6 {
  color: #063974;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 0.25rem;
}

.contactHeaderImg {
  background-image: url("../assets/contact-image-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}

.contact.contentContainer {
  padding-bottom: 50px;
}

.contact .flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}
.contact .formContainer {
  position: absolute;
  margin: -4vw 0 0 -30vw;
}
.contact .contactDetails {
  width: 14vw;
  margin: 20vh 0 20vh 50vw;
}

.socialMedia ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.socialMedia li {
  padding: 20px 30px 0 0;
}
.socialMedia a {
  color: #063974;
}
.socialMedia a :hover {
  color: #50E3C2;
}
.socialMedia a :focus {
  color: #50E3C2;
}

.email a {
  color: #2C2C2C;
  text-transform: lowercase;
}

footer {
  background-color: #2C2C2C;
  color: #FAFFFE;
  text-align: center;
  border: 1px solid #2C2C2C;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 4rem;
    line-height: 0.6rem;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 3.56rem;
  }
  h3 {
    font-size: 2.1rem;
    line-height: 0.9rem;
  }
  .guyana {
    padding-bottom: 60px;
  }
  .beachstayGallery li {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .navBar .wrapper {
    flex-direction: column;
  }
  .navBar .wrapper .mainMenu {
    justify-content: center;
    padding-top: 20px;
  }
  h1 {
    font-size: 2.56rem;
    line-height: 0.6rem;
  }
  a.button,
p {
    font-size: 2vh;
    line-height: 2vh;
    padding: 10px;
  }
  h4,
h5,
h6 {
    font-size: 2vh;
    line-height: 2vh;
  }
}
@media (max-width: 600px) {
  .mainMenu a {
    font-size: 1vh;
    padding: 5px;
  }
  .headerContent,
.headerImgContainer {
    margin: 0 30px;
  }
  h1 {
    font-size: 2rem;
  }
  h3,
h6 {
    font-size: 1.5vh;
  }
  .guyana .flexContainer,
.iconsDetails .flexContainer {
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }
  .beachstayGallery,
.iconsDetails .flexContainer {
    flex-direction: column;
  }
  .iconsDetails .flexContainer {
    width: 100vw;
  }
  .plan .flexContainer div {
    width: 100%;
    margin: 0;
  }
  .plan .imgContainer .rightImg,
.plan .imgContainer .leftImg {
    margin: 20px auto;
    position: inherit;
  }
}
@media (max-width: 1225px) {
  .contact .contactDetails {
    width: 18vw;
    margin-left: 64vw;
  }
}
@media (max-width: 992px) {
  .contact .flexContainer {
    flex-direction: column;
    width: 100vw;
  }
  .contact .formContainer {
    position: inherit;
    margin: 0 auto;
  }
  .contact .contactDetails {
    width: 80vw;
    margin: 0 auto;
  }
  fieldset {
    padding: 0;
    width: 100vw;
    box-shadow: none;
    border: none;
    background-color: #FAFFFE;
    text-align: center;
  }
  fieldset .name,
fieldset .email,
fieldset .message {
    font-size: 2vh;
    line-height: 0rem;
    letter-spacing: 0.1rem;
    font-family: "Lato", "sans-serif";
    font-weight: 300;
    width: 80vw;
    margin: 2vh auto;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 18vw;
    letter-spacing: 0rem;
  }
}